<h1>Calendar#index</h1>
<p>Find me in app/views/calendar/index.html.erb</p>
<div id="calendar"></div>
　<div id="event_dialog" title="新規予定入力">
	<form>
		<label for="title">内容</label></br>
        <input type="text" name="title" id="title" value=""/></br>
        <label for="location">場所orURL</label></br>
        <input type="text" name="location" id="location" value=""/>
        <label for="allDay">終日</label></br>
        <input type="checkbox" name="allDay" id="allDay" value=""/>
	</form>
　</div>