<h1>Calendar#index</h1>
<div id="calendar"></div>

<input type="button" id="import" value="CSVインポート">
<input type="button" id="export" value="CSVエクスポート">
<!-- 新規予定作成ダイアログデザイン -->
<div id="event_dialog" title="新規予定入力">
	<form id="event_form">
		<input type="text" name="url_cnt" id="url_cnt" value=""/>
		<label for="start">開始時間</label></br>
		<input type="datetime-local" name="start" id="start" value=""/>
		</br>
		<label for="end">終了時間</label></br>
		<input type="datetime-local" name="end" id="end" value=""/>
		</br>
		<label for="title">内容</label></br>
		<input type="text" name="title" id="title" value=""/>
		</br>
		<label for="location">場所</label></br>
		<input type="text" name="location" id="location" value=""/>
		</br>
		<label for="url">URL</label></br>
		<input type="text" name="url1" id="url1" value=""/>
		<input type="text" name="url2" id="url2" value=""/>
		<input type="text" name="url3" id="url3" value=""/>
		<input type="text" name="url4" id="url4" value=""/>
		<input type="text" name="url5" id="url5" value=""/>
		<input type="button" name="url_plus" id="url_plus" value="+" />
		</br>
		<label for="reamrks">備考</label></br>
		<input type="text" name="remarks" id="remarks" value=""/>
		</br>
		<label for="allDay">終日</label></br>
		<input type="checkbox" name="allDay" id="allDay" value="1"/>
		</br>
	</form>
</div>
<!-- 予定編集ダイアログデザイン -->
<div id="edit_dialog" title="予定編集">
	<form id="edit_form">
		<input type="text" name="id" id="id" value=""/>
		<input type="text" name="url_cnt" id="url_cnt" value=""/>
		<label for="start">開始時間</label></br>
		<input type="datetime-local" name="start" id="start" value=""/>
		</br>
		<label for="end">終了時間</label></br>
		<input type="datetime-local" name="end" id="end" value=""/>
		</br>
		<label for="title">内容</label></br>
		<input type="text" name="title" id="title" value=""/>
		</br>
		<label for="location">場所</label></br>
		<input type="text" name="location" id="location" value=""/>
		</br>
		<label for="url">URL</label></br>
		<input type="text" name="url1" id="url1" value=""/>
		<input type="text" name="url2" id="url2" value=""/>
		<input type="text" name="url3" id="url3" value=""/>
		<input type="text" name="url4" id="url4" value=""/>
		<input type="text" name="url5" id="url5" value=""/>
		<input type="button" name="url_plus" id="url_plus" value="+" />
		</br>
		<label for="reamrks">備考</label></br>
		<input type="text" name="remarks" id="remarks" value=""/>
		</br>
		<label for="allDay">終日</label></br>
		<input type="checkbox" name="allDay" id="allDay" value="1"/>
		</br>
	</form>
</div>
<!-- 削除確認ダイアログデザイン -->
<div id="delete_dialog" title="削除確認">
	予定を削除します。</br>よろしいですか？
	<form id="delete_form">
		<input type="text" name="id" id="id" value=""/>
	</form>
</div>
<!-- ダブルブッキング通知ダイアログデザイン -->
<div id="double_caution" title="予定重複確認">
	他の予定と重なっています。</br>登録してよろしいですか？
</div>
<div id="double_caution2" title="予定重複確認">
	他の予定と重なっています。</br>登録してよろしいですか？
</div>
<!-- 予定確認ダイアログデザイン -->
<div id="confirm_dialog" title="予定確認">
	<b><font size="3">日時</font></b></br>
	<div id="confirm_start" >
		start
	</div>
	<div id="confirm_end">
		end
	</div></br>
	<b><font size="3">内容</font></b></br>
	<div id="confirm_title">
		title
	</div></br>
	<b><font size="3">場所</font></b></br>
	<div id="confirm_location">
		location
	</div></br>
	<b><font size="3">URL</font></b></br>
	<a href="" target="_blank">
	<div id="confirm_url1">
		url1
	</div></a>
	<a href="" target="_blank">
	<div id="confirm_url2">
		url1
	</div></a>
	<a href="" target="_blank">
	<div id="confirm_url3">
		url1
	</div></a>
	<a href="" target="_blank">
	<div id="confirm_url4">
		url1
	</div></a>
	<a href="" target="_blank">
	<div id="confirm_url5">
		url1
	</div></a></br>
	<b><font size="3">備考</font></b></br>
	<div id="confirm_remarks">
		remarks
	</div></br>
</div>

<div id="import_dialog" title="インポートするファイルを選択">
	<form id="import_form" action="" method="post">
		<input type="file" id="import" name="import">
	</form>
</div>
